<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TabScore2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TabScore2.Properties.Settings>
            <setting name="Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowTimer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SecondsPerBoard" serializeAs="String">
                <value>390</value>
            </setting>
            <setting name="AdditionalSecondsPerRound" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ShowHandRecordFromDirection" serializeAs="String">
                <value>South</value>
            </setting>
            <setting name="DoubleDummy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SuppressRankingListForLastXRounds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SuppressRankingListForFirstXRounds" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DatabaseReady" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsIndividual" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SessionStarted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSplashScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultShowTraveller" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultShowPercentage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultEnterLeadCard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultValidateLeadCard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultShowRanking" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultEnterResultsMethod" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultShowHandRecord" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultNumberEntryEachRound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultNameSource" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultManualHandRecordEntry" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MasterTableForTimer" serializeAs="String">
                <value>False</value>
            </setting>
        </TabScore2.Properties.Settings>
    </userSettings>
</configuration>